.collection {

   &__table {
      width: 100%;
      border-spacing: 0 $collection-row-padding;
      margin-top: calc($collection-row-padding * (-1));
      @include dynamic-value(margin-bottom, 55, 60, 100);
   }

   &__title {
      font-family: $poppins;
      font-weight: 500;
      @include dynamic-value(font-size, 15, 16, 22);
      text-align: left;
      color: #93989a;
      &:last-child {
         text-align: right;
      }
   }

   &__item {
      position: relative;
      width: 16.25%;
      font-family: $poppins;
      font-weight: 500;
      @include dynamic-value(font-size, 16, 17, 24);
      color: #141416;
      
      &--green {
         color: #10c352;
      }

      &--decor {
         padding-left: 30px;
         background: url(./../src/img/svg/ethereum.svg) left center no-repeat;
         background-size: 25px 25px;
      }

      &:first-child {
         width: 35%;
      }

      &:last-child {
         text-align: right;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: calc($collection-row-padding / (-2));
         left: 0;
         width: 100%;
         height: 2px;
         background-color: #EBE9E9;
      }
   }

   &__header {
      display: flex;
      align-items: center;
   }

   &__img {
      flex: 0 1 19.5%;
      margin-right: 20px;
      img {
         border-radius: 50%;
      }
   }

   &__name {
      font-family: $poppins;
      font-weight: 500;
      @include dynamic-value(font-size, 20, 20, 28);
      color: #141416;
      margin: 0 0 5px;
   }

   &__author {
      font-family: $poppins;
      @include dynamic-value(font-size, 15, 16, 23);
      color: #64748b;
   }
}