@media(max-width: 991.98px) {
   .header {

      &__body {
         position: relative;
      }

      &__search {
         opacity: 0;
         visibility: hidden;
         position: absolute;
         transform: translateY(-100%);
         transition: transform .3s ease-in-out;
         
         &.active {
            opacity: 1;
            visibility: visible;
            top: 70px;
            left: 0;
            z-index: 5;
            width: 100%;
            transform: translateY(0);
         }
      }

      &__search-icon {
         display: block;
      }
   }

   .hero {
      &__container {
         display: block;
      }

      &__content {
         margin-bottom: 60px;
         text-align: center;
      }

      
      &__body {
         width: 100%;
         padding-right: 0;
      }

      &__title {
         &::before {
            display: none;
         }
      }

      &__btns {
         justify-content: center;
      }

      &__collage {
         transform: translateX(0);
         padding-left: 15px;
         justify-content: center;
      }
   }

   .stat {
      max-width: 345px;
      margin: 0 auto;
      justify-content: center;
      column-gap: 30px;
      
      &__item {
         flex-basis: calc(33.333% - 20px);
         text-align: center;
      }
   }

   .marketplace {
      &__items {
         row-gap: 30px;
      }
      &__item {
         flex-basis: calc(33.333% - 2.7%/3*2);
      }
   }

   .collectors {
      display: block;

      &__header {
         margin-bottom: 40px;
      }

      &__list {
         display: flex;
         flex-wrap: wrap;
      }

      &__item {
         flex: 0 1 50%;
      }
   }

   .form {
      &__img {
         flex: 0 1 35%;
      }
   }

   .modal {
      &__signup {
         flex-basis: 100%;
      }

      &__decor {
         display: none;
      }

      &__close {
         color: #141416;
      }
   }
}

@media(max-width: 767.98px) {
   .link-explore {
      justify-content: center;
   }

   .header {
      &__logo {
         flex: 1 1 auto;
         margin-right: 0;
      }

      &__button {
         margin-right: 10px;
         order: 1;
      }

      &__burger {
         flex: 0 0 30px;
         display: block;
         height: 20px;
         position: relative;
         z-index: 7;
         &::before,
         &::after,
         span {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #141416;
            left: 0;
            transition: transform .3s ease 0s;
         }

         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }

         span {
            top: 9px;
         }

         &.active::before {
            transform: rotate(45deg);
            top: 9px;
         }
         &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
         }
         &.active span {
            transform: scale(0);
         }
      }

      &__search-icon {
         order: 2;
      }

      &__menu {
         position: fixed;
         top: 0;
         right: -100%;
         width: 50%;
         height: 100%;
         background-color: #ededed;
         overflow: auto;
         z-index: 6;
         padding: 130px 13px 20px;
         margin-right: 0;
         transition: all .3s ease 0s;
         &.active {
            right: 0;
         }
      }
   }

   .header .menu {
      &__list {
         display: block;
      }
      &__item {
         margin: 0 0 20px 0;
         &--invisible {
            margin-bottom: 40px;
         }
      }

      &__link {
         font-size: 35px;
         &::after {
            top: 120%;
         }
      }
   }

   .top {
      &__view {
         display: none;
      }
   }

   .collection {
      &__item:nth-child(n+3),
      &__title:nth-child(n+3) {
         display: none;
      }
   }

   .faq {
      &__icon {
         width: 20px;
         height: 20px;
      }
   }

   .footer {

      &__header, &__end {
         padding: 30px 0;
      }

      &__social {
         &--header {
            display: flex;
         }

         &--end {
            display: none;
         }
      }

      &__menu {
         order: 3;
         flex: 1 1 100%;
         margin-top: 40px;
      }

      &__end {
         display: block;
      }

      &__copyright {
         text-align: center;
      }
   }
}

@media(max-width: 624.98px) {
   .header {
      &__menu {
         width: 100%;
      }

      &__button {
         font-size: 16px;
         &--invisible {
            display: none;
         }
      }
   }

   .header .menu {
      &__item--invisible {
         display: block;
      }
   }

   .marketplace {
      &__item {
         flex-basis: 100%;
      }
   }

   .collectors {
      &__title {
         text-align: center;
      }

      &__item {
         flex-basis: 100%;
      }
            
      &__stat {
         &::after {
            display: none;
         }
      }

      &__view {
         max-width: 100%;
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }

      &__view--message,
      &__view--recent {
         position: static;
         transform: translate(0);
      }
   }

   .form {
      position: relative;
      display: block;
      padding-bottom: 120px;
      margin-bottom: 50px;

      &__info {
         text-align: center;
      }

      &__title {
         font-size: 27px;
         text-align: center;
      }

      &__btns {
         justify-content: center;
         column-gap: 15px;
      }

      &__img {
         position: absolute;
         left: 50%;
         bottom: 0;
         transform: translate(-50%, 50%);
      }
   }

   .footer {
      &__menu {
         .menu {
            &__list {
               display: block;
            }

            &__item:not(:last-child) {
               margin-bottom: 20px;
            }

            &__link {
               font-size: 16px;
            }
         }
      }
   }

   .modal {
      &__form {
         width: 80%;
      }
   }
}